<link rel="stylesheet" href="css/header.css">
<header class="header">
    <div class="menu">
        <nav class="nav">
            <div class="logo">
                <svg width="48" height="48">
                    <use href="images/icons.svg#icon-logo"></use>
                </svg>
                <a href="index.html" class="link"><span class="cinemania">Cinemania</span>
                </a>
            </div>
            <ul class="list nav-list">
                <li><a href="index.html" class="navigation link navigation-activ">HOME</a></li>
                <!-- <li><a href="catalog.html" class="navigation link">CATALOG</a></li>
                <li><a href="library.html" class="navigation link">MY LIBRARY</a></li> -->
            </ul>
            <ul class="list nav-list-mobile">
                <li><a class="navigation link">MENU</a></li>
            </ul>
            <button class="toggle-button">Toggle Button</button>
        </nav>
    </div>
</header>
