<link rel="stylesheet" href="./css/modal.css" />
<div class="pop-up-oops-container" id="popUpOopsContainer">
  <div class="pop-up-oops">
    <button class="closePopUpOops" id="closePopUpOops">
      <img src="./images/popUpClose.svg" />
    </button>
    <div class="pop-up-oops-description" id="popUpOopsDescription">
      <p>OOPS...</p>
      <p>We are very sorry!</p>
      <p>But we couldn’t find the trailer.</p>
    </div>
    <div class="pop-up-oops-image" id="popUpOopsImage">
      <img src="./images/oops.png" />
    </div>
  </div>
</div>
