<link rel="stylesheet" href="./css/modal.css" />
<div class="background-modal" id="background-modal">
  <div class="modal-window-details">
    <div class="photo-modal-details"></div>
    <div class="modal-all-details">
      <h3 class="header-details">Header</h3>
      <p class="modal-detail">
        Vote / Votes<span class="span-details vote-span-details"></span>
      </p>
      <p class="modal-detail">
        Popularity<span class="span-details popularity-span-details"></span>
      </p>
      <p class="modal-detail">
        Genre<span class="span-details genre-span-details"></span>
      </p>
      <div class="modal-detail">
        ABOUT<span class="about-span-details"></span>
      </div>
      <div class="gradient-box">
        <button type="button" class="add-to-my-library">
          Add to my library
        </button>
      </div>
    </div>
    <button
      type="button"
      id="closed-modal-details"
      class="closed-modal-details"
    >
      <svg
        width="10.5"
        height="10.5"
        class="closed-modal-details-cvg"
        fill="rgba(248, 248, 248, 1)"
      >
        <use href="images/icon_modal.svg#icon-closed"></use>
      </svg>
    </button>
  </div>
</div>
<script type="module" src="js/modal.js"></script>
