.search-catalog {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.gallery img {
    height: auto;
    width: 395px;
    border-radius: 5px;
}

.movie {
    position: relative;
}

.movie-title {
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
}

.pagination {
    display: flex;
    justify-content: center;
}
