.hero.container {
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 100%;
  background: linear-gradient(83deg, #111 36.85%, rgba(17, 17, 17, 0) 60.05%),
    url(../images/Hero_desktop.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.intro {
  color: #fff;
  display: flex;
  max-width: 232px;
  flex-direction: column;
  gap: 8px;
  padding-top: 40px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
  /* font-style: normal; */
  font-weight: 700;
}

.text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  max-width: 177px;
  max-height: 66px;
  overflow: hidden;
}

.buttons {
  display: flex;
  gap: 8px;
  font-family: inherit;
  padding-bottom: 54px;
}

.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  border-radius: 74px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.hero-btn.cta {
  background: linear-gradient(141deg, #ffc226 9.4%, #f84119 91.91%);
  color: var(--black-color, #111);
  margin-left: 20px;
  border: none;
}

.hero-btn.more-details {
  background: transparent;
  color: #fff;
  margin-left: 8px;
  border: 1px solid #fff;
}

@media screen and (min-width: 768px) {
  .hero.container {
    height: 372px;
    /* background: linear-gradient(83deg, #111 36.85%, rgba(17, 17, 17, 0) 60.05%),
      url(../images/Hero_tablet.png) no-repeat; */
    /* background-position: center right; */
  }
  .intro {
    max-width: 445px;
    padding-top: 62px;
    padding-left: 32px;
    margin-bottom: 32px;
  }

  .title {
    font-size: 44;
  }

  .text {
    max-width: 254px;
    max-height: 49px;
  }

  .buttons {
    padding-bottom: 63px;
  }

  .hero-btn {
    font-size: 14px;
    height: 40px;
  }

  .hero-btn.cta {
    margin-left: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-btn {
    padding: 10px 24px;
  }
}

@media screen and (min-width: 1280px) {
  .hero.container {
    height: 660px;
    /* background: linear-gradient(83deg, #111 36.85%, rgba(17, 17, 17, 0) 60.05%),
      url(../images/Hero_desktop.png) no-repeat;
    background-size: contain;
    background-position: right; */
  }
  .intro {
    max-width: 670px;
    gap: 16px;
    padding-top: 118px;
    margin-left: 135px;
  }

  .title {
    font-size: 64px;
  }
  .text {
    font-size: 16px;
    max-width: 367px;
    max-height: 59px;
  }
  .buttons {
    margin-left: 135px;
  }
  .hero-btn {
    font-size: 16px;
    height: 48px;
    cursor: pointer;
  }
}
