.modal-window-details {
  width: 846px;
  height: 598px;
  background-color: rgba(17, 17, 17, 1);
  border-radius: 20px;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  display: flex;
  gap: 20px;
  position: relative;
  padding: 60px;
}

.background-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0px;
}

.modal-all-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-detail {
  color: rgba(183, 183, 183, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
}

.closed-modal-details {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0);
  border: none;
  cursor: pointer;
}

.closed-modal-details-svg {
  fill: rgba(248, 248, 248, 1);
}

.closed-modal-details-svg:hover {
  fill: rgba(248, 119, 25, 1);
}

.image-deteils {
  width: 375px;
  height: 478px;
  border-radius: 5px;
  box-shadow: 1px 1px 24px 2px rgba(1, 1, 1, 0.45);
}

.header-details {
  font-size: 24px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 32px;
  margin-bottom: 18px;
}

.add-to-my-library {
  width: 139px;
  height: 39px;
  border-radius: 74px;
  background-color: rgba(17, 17, 17, 1);
  border: none;
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.gradient-box {
  position: relative;
}

.gradient-box::after,
.gradient-box::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  border-radius: 74px;
  top: -1px;
  right: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: 1px solid transparent;
  background-image: linear-gradient(
    to top,
    rgba(255, 194, 38, 1),
    rgba(248, 65, 25, 1)
  );
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: 0;
}
